body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:371px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u766 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u767_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:683px;
}
#u767 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:683px;
}
#u768 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:334px;
  width:367px;
  visibility:hidden;
  word-wrap:break-word;
}
#u769_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:16px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u769 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:55px;
  width:330px;
  height:16px;
}
#u770 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u771_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:14px;
}
#u771 {
  border-width:0px;
  position:absolute;
  left:322px;
  top:56px;
  width:24px;
  height:14px;
}
#u772 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u773_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
}
#u773 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:57px;
  width:45px;
  height:14px;
}
#u774 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u775_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:1px;
}
#u775 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:64px;
  width:66px;
  height:1px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u776 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-7px;
  width:62px;
  word-wrap:break-word;
}
#u777_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:50px;
  background:inherit;
  background-color:rgba(85, 170, 119, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u777 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:71px;
  width:329px;
  height:50px;
  font-size:18px;
}
#u778 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:325px;
  word-wrap:break-word;
}
#u779_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:29px;
  background:inherit;
  background-color:rgba(85, 170, 119, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'楷体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u779 {
  border-width:0px;
  position:absolute;
  left:271px;
  top:82px;
  width:68px;
  height:29px;
  font-family:'楷体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u780 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:64px;
  word-wrap:break-word;
}
#u781_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:29px;
}
#u781 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:82px;
  width:25px;
  height:29px;
}
#u782 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u783_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
#u783 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:216px;
  width:291px;
  height:36px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
#u784 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:287px;
  word-wrap:break-word;
}
#u785_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
#u785 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:252px;
  width:291px;
  height:36px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
#u786 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:287px;
  word-wrap:break-word;
}
#u787_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
#u787 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:288px;
  width:291px;
  height:36px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
#u788 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:287px;
  word-wrap:break-word;
}
#u789_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
#u789 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:324px;
  width:291px;
  height:36px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
#u790 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:287px;
  word-wrap:break-word;
}
#u791_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:2px;
}
#u791 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:244px;
  width:146px;
  height:1px;
}
#u792 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u793_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:2px;
}
#u793 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:281px;
  width:146px;
  height:1px;
}
#u794 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u795_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:2px;
}
#u795 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:317px;
  width:146px;
  height:1px;
}
#u796 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u797_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:2px;
}
#u797 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:354px;
  width:146px;
  height:1px;
}
#u798 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u799_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
}
#u799 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:192px;
  width:200px;
  height:200px;
  -webkit-transform:rotate(15deg);
  -moz-transform:rotate(15deg);
  -ms-transform:rotate(15deg);
  transform:rotate(15deg);
  opacity:0.3;
}
#u800 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:92px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
