body { overflow: auto; }
.header { display: none; position: fixed; left: 0; top: 0; width: 100%; height: 69px; z-index: 100; line-height: 66px; font-size: 15px; }
.navbar { margin-bottom: 0; border: none; border-radius: 0; padding: 0; }
.navbar-brand { height: 69px; line-height: 69px; padding: 0; }
.navbar-default .navbar-brand { color: #FFF; font-size: 30px; }
.navbar-nav li { height: 69px; }
.navbar-nav li a { height: 39px; line-height: 39px; margin: 15px; padding: 0 10px; }
.navbar-brand img { width: 32px; height: 32px; }
.navbar .dropdown-item { width: auto; }
.header .wrapper { padding: 0 20px; width: 100%; height: 100%; }
h1.logo { font-size: 30px; display: inline-block; margin: 18px  0;}
:fullscreen { overflow: hidden; }
:-webkit-full-screen { overflow: hidden; }
.reveal { height: 100%; }
.related, .footer { background-color: #EEE; margin-top: 0px; overflow: hidden; }
#stitle h2 { margin: 10px 0; }
.fabtn { display: block; float: right; width: 32px; height: 32px; text-align: center; margin-top: 10px; margin-left: 10px; }
.fabtn i { line-height: 32px; font-size: 18px; }
.fabtn:hover { color: #ffc107; }
.avatars { width: 24px; height: 24px; border-radius: 24px 24px 24px 24px; -moz-border-radius: 24px 24px 24px 24px; -webkit-border-radius: 24px 24px 24px 24px; }
blockquote footer { text-align: right; }
.reslist { list-style-type: none; text-align: center; padding-left: 0; }
.resitem { width: 200px; height: 280px; display: inline-block; margin: 20px; position: relative; overflow: hidden; }
.reslink { position: absolute; left: 0; top: 0; width: 100%; height: 100%; z-index: 1; outline: none;  border: solid 1px rgba(0, 0, 0, 0.07); }
.reslink:hover { border: solid 5px #74D7A5; }
.resthumb { width: 100%; height: 200px; background-color: skyblue; }
.resdetail { position: absolute; left: 0; bottom: 0; width: 100%; padding: 10px; height: 80px; }
.restc { padding-bottom: 5px; border-bottom: solid 1px rgba(0, 0, 0, 0.07); }
.restitle { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.resbc { position: relative; text-align: left; }
.resauthor { display: inline-block; color: #222; vertical-align: bottom; z-index: 2; }
.resavatar { display: inline-block; width: 20px; height: 20px; vertical-align: top; background-size: cover; background-repeat: no-repeat; border-radius: 20px 20px 20px 20px; -moz-border-radius: 20px 20px 20px 20px; -webkit-border-radius: 20px 20px 20px 20px; }
.resname { display: inline-block; max-width: 100px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; line-height: 20px; }
.resauthor { position: absolute; left: 5px; bottom: 0; padding: 5px; color: #222; vertical-align: bottom; z-index: 2; }
.resstats { position: absolute; right: 5px; bottom: 4px; padding: 5px; color: #222222; background: white; cursor: default; }
.resnum { margin-left: 2px; }
.resadd { font-size: 64px; height: 100%; width: 100%; line-height: 280px; }
.comment { margin: 20px 32px; position: relative; }
.comavatar { position: absolute; top: 0; left: 0; width: 48px; height: 48px; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; background-size: 48px 48px !important; }
.commain { margin-left: 64px; }
.comtop { margin-bottom: 5px; }
.comtop em { font-style: normal; }
div.container > div:nth-child(n+1) { margin-top: 32px; }
div.container > div { padding: 20px 0 10px 0; background-color: #FFF; }
.footer { border-top: solid 1px #DDD; padding-top: 20px; padding-bottom: 40px; text-align: center; }
.xheditor { width: 100%; height: 200px; }
.perf h4 { font-size: 16px; font-weight: normal; }
.outermost { height: 100%; }
.slides { height: 95%; }
#unote blockquote footer { font-size: 1rem; }
#unote footer { display: flex; }
#unote footer img { margin-left: auto; }
.combot { font-size: 12px; }
.combot span { color: #AAA; }
#navbarDropdown img { width: 32px; border-radius: 16px; margin-right: 10px; }
h3 { font-size: 1.5rem; }